<h1>Student Info</h1>

<<<<<<< HEAD
<%= render partial: "student", locals: {student: @student} %>
=======
<!-- <%= render 'student' %> -->
<%= render partial: 'student', locals: {student: @student} %>
>>>>>>> 14afbdb2c2e9e1acc1057a96d87b898d0d9c0f66
